@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover_change{
    animation: colorchange 15s infinite;
}

@keyframes colorchange {
    0% {
      background-color: #8ebded; ; 
    }
    25% {
      background-color: #80f5b1; 
    }
    50% {
      background-color: #e87a6e; 
    }
    75% {
      background-color: #f7bd61;
    }
    100% {
      background-color: #8ebded; 
    }
  }
.Font-heading{
    font-family: 'Playfair Display', serif;
}
@keyframes Textchange{
    0% {
        color: #495057; 
      }
      25% {
        color: #212529; 
      }
      50% {
        color: #adb5bd; 
      }
      75% {
        color: #343a40; 
      }
      100% {
        color: #495057; 
      }
}
.Text-change{
    animation: Textchange 15s infinite;
}